<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.nulp.eduframework.domain.LectureChat" />
		<mapping class="com.nulp.eduframework.domain.User" />
		<mapping class="com.nulp.eduframework.domain.UserDetails" />
		<mapping class="com.nulp.eduframework.domain.LectureMessage" />
		<mapping class="com.nulp.eduframework.domain.UserRole" />
	</session-factory>
</hibernate-configuration>